@media screen and (min-width: 992px) {
  .our-mission::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-image: url('../../../assests/Images/OurMission.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    background-attachment: fixed;
  }

  .our-mission .container .row .col-lg-6 {
    float: right;
  }
}

.our-mission {
  position: relative;
  overflow: hidden;
}

.our-mission .container {
  position: relative;
  z-index: 1;
}

.ourMissionLine {
  width: 200px;
  height: 10px;
  background: #EDCD1F;
}
@media screen and (min-width: 992px) {
    .our-mission::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      background-image: url('../../../assests/Images/OurMission.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;
      background-attachment: fixed;
    }
  
    .our-mission .container .row .col-lg-6 {
      float: right;
    }
  }
  
  .our-mission {
    position: relative;
    overflow: hidden;
  }
  
  .our-mission .container {
    position: relative;
    z-index: 1;
  }
  
  .ourMissionLine {
    width: 200px;
    height: 10px;
    background: #EDCD1F;
  }
  